apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ingress.yaml
- ../../base
configMapGenerator:
- name: argocd-cm
  namespace: argocd
  behavior: merge
  literals:
  - accounts.tordek=apiKey, login
  - accounts.tordek.enabled=true
  - server.tls.enabled=true
  - server.tls.secretName=argocd-tls-secret